.label{   
    color:  #2750b2;  
    text-align: center;  
    padding-top: 20px;  
    margin-bottom: 25;
} 
.cont{
    color: #18383e;
    text-align: center;  
    padding-top: 20px;  

}

.email{
    color: #18383e;
    text-align: center;  
    padding-top: 20px;  

}

